@font-face {
    font-family: 'BPG WEB 001';
    src: url('../fonts/bpg-web-001-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-web-001-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-web-001-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-web-001-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-web-001-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-web-001-webfont.svg#bpg_web_001regular') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'BPG Mrgvlovani Caps';
    src: url('../fonts/bpg-mrgvlovani-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-mrgvlovani-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-mrgvlovani-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-mrgvlovani-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-mrgvlovani-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-mrgvlovani-caps-webfont.svg#bpg_mrgvlovani_capsregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Arial';
    src: url('../fonts/bpg-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-arial-webfont.svg#bpg_arialregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Phone Sans Bold';
    src: url('../fonts/bpg-phone-sans-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-phone-sans-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-phone-sans-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-phone-sans-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-phone-sans-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-phone-sans-bold-webfont.svg#bpg_phone_sansbold') format('svg'); /* Legacy iOS */
}