.header-div {
  background-color: #000033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-header {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ul-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.nav-a-item {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-family: "BPG Phone Sans Bold";
}

.fa-solid {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}

.div1-background {
  background-image: url(../images/blood-infant1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  background-position: right;
}

.h1-title {
  font-size: 20px;
  text-align: center;
  color: rgba(199, 150, 21, 255);
  padding: 4px;
  line-height: normal;
  font-weight: 800;
  width: 100%;
  margin-top: 310px;
  font-family: "BPG WEB 001";
  display: inline-block;
  background-color: #ffffff;
}

.p-title {
  color: #ffffff;
  background-color: #000033;
  font-size: 14px;
  width: 100%;
  font-weight: 400px;
  line-height: normal;
  padding: 10px;
  text-align: justify;
  font-family: "BPG Mrgvlovani Caps";
}

.absolute-div {
  margin: 0 auto;
  position: absolute;
}

.fa-bars {
  display: none;
}

.section-bg {
  background-color: #f0ebeb;
}

.container-1 {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
}

.p-phenil {
  font-size: 13px;
  color: rgb(0, 0, 0);
  line-height: normal;
  width: 100%;
  font-family: "BPG Arial";
}

.left-wraper {
  border-radius: 30px;
  width: 400px;
  height: 300px;
  background-image: url(../images/dna-3539309-1280-bbcda7aae3e62e5078fb8a9bde5c5e28-1fc0a0eb0b539597788436d29d8b037d.jpg);
  background-position: right;
}

.right-wraper {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: justify;
}

.row-11 {
  max-width: 1000px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.left-wraper1 {
  width: 400px;
  height: 300px;
  background-image: url(../images/dna-3539309-1280-bbcda7aae3e62e50.jpg);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-size: cover;
  margin-bottom: 10px;
}

.h2-t {
  text-align: center;
  padding: 10px;
  font-weight: 800;
  padding-top: 10px;
  font-family: "BPG WEB 001";
}

.cont {
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.cont-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
}

.child-box1 {
  width: 300px;
  color: #ffffff;
}

.im-box-1 {
  width: 100%;
}

.h4-formebi {
  font-size: 15px;
  color: rgb(255, 0, 0);
  text-align: center;
  padding-top: 5px;
}

.p-formebi {
  margin-top: 5px;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

.p-formebi1 {
  margin-top: 10px;
  font-size: 12px;
  line-height: normal;
  text-align: center;
}

.p-div {
  background-color: #000033;
  height: 90px;
}

.footer-bg {
  background-color: #000033;
}

.sec-con {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.R-1 {
  width: 450px;
  width: 100%;
  text-align: justify;
}

.R-2 {
  width: 550px;
  width: 100%;
}
.r-2flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.amino-pic {
  width: 120px;
}

.link {
  font-size: 13px;
  color: rgb(83, 64, 226);
  font-style: italic;
}

.footer-c {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-flex {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc-div1,
.soc-div2,
.soc-div3 {
  width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-facebook {
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}

.p1-footer {
  font-size: 10px;
  color: #ffffff;
  margin-left: 10px;
  line-height: normal;
  font-family: "BPG WEB 001";
}

.h2-creator {
  font-size: 12px;
  color: #f0ebeb;
  text-align: center;
  font-family: "BPG WEB 001";
}

.p-creator {
  font-size: 10px;
  color: aqua;
  text-align: center;
  padding: 10px;
  font-family: "BPG WEB 001";
}

.active-page {
  border: 1px #fff solid;
  padding: 3px 7px;
  border-radius: 20px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: rgba(199, 150, 21, 255);
}

.div2-background {
  background-image: url(../images/356657158_195577573476608_145610791720356219_n.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  background-position: center;
  width: 100%;
}

.asociation-sec {
  background-color: #d8d8e8;
}

.p-titlelink {
  font-size: 13px;
  color: rgb(83, 64, 226);
  font-style: italic;
}

.li-num {
  font-size: 13px;
  line-height: normal;
}

.reason {
  max-width: 500px;
  background-color: rgba(199, 150, 21, 255);
  border-radius: 50px;
  width: 100%;
  margin: 0 auto;
  margin-top: 1px;
  padding: 10px;
  line-height: normal;
}

.p-reason {
  font-size: 13px;
  color: #ffff;
  padding: 5px;
  max-width: 700px;
  text-align: center;
}

.asosiation-div {
  margin-top: 20px;
  max-width: 1000px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin: 0 auto;
}

.par-divx {
  width: 400px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.pic-div {
  max-width: 1000px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.child-div3 {
  background-image: url(../images/356826222_195568720144160_5005777873102228866_n.jpg);
  width: 490px;
  border-radius: 20px;
  height: 300px;
  width: 100%;
  background-position: left;
}

.child-div4 {
  background-image: url(../images/356215967_195570213477344_392127510031813461_n.jpg);
  width: 490px;
  border-radius: 20px;
  height: 300px;
  width: 100%;
  background-position: left;
}

.containe-div {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-1 {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

.ch-div1 {
  width: 300px;
  background-color: #000033;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.h3-phenil {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: aqua;
}

.p-phenili {
  font-size: 12px;
  color: #ffff;
  line-height: normal;
  text-align: justify;
  margin-top: 30px;
  font-family: "BPG Arial";
}

.section-bgx {
  background-image: url(https://media.giphy.com/media/xUPGcuomRFMUcsB9nO/giphy.gif);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.martva-con {
  width: 1200px;
  width: 100%;
  padding: 10px;
}
.martva-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.martva-child1 {
  width: 500px;
  padding: 10px;
  line-height: normal;
  font-size: 13px;
  text-align: justify;
}

.martva-child2 {
  width: 500px;
  padding: 10px;
}

.martva-child2 img {
  width: 100%;
}

.sec-colored {
  background-color: rgb(249, 249, 249);
}

.contact-section {
  background-image: url(../images/spmUM.gif);
  height: 1650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.form-element {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form {
  padding-top: 100px;
  max-width: 500px;
  width: 100%;
  margin-left: 30px;
}
.input-element {
  width: 100%;
  height: 60px;
  color: blue;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.btn-submit {
  width: 150px;
  height: 60px;
  background-color: rgb(0, 30, 255);
  color: #fff;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
}
.label-form {
  color: rgb(255, 255, 255);
}
.input-element::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.input-element::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.input-element:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.input-element::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.input-element::placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.input-element:focus {
  background-color: rgb(157, 222, 255);
  outline: none;
}
.select {
  height: 60px;
  outline: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  color: #ffffff;
}

.select:focus {
  color: rgb(2, 0, 117);
}
.textarea-element {
  width: 100%;
  height: 210px;
  resize: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #ffffff;
}

.textarea-element:focus {
  background-color: rgb(157, 222, 255);
  outline: none;
  color: #ffffff;
}

.textatea-element::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.textatea-element::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.textatea-element:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.textatea-element::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.textatea-element::placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.inf-section {
  width: 1350px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.form {
  width: 100%;
}

.left-inf {
  width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.right-inf {
  width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.maps {
  width: 100%;
}

.all-contact {
  max-width: 200px;
  position: absolute;
  top: 750px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: normal;
  border: 2px solid rgb(2, 0, 117);
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: 900;
}

nav.activeNav {
  display: block;
}

.burger {
  position: absolute;
  top: 30px;
  right: 10px;
}

.section-gr {
  background-color: rgb(249, 249, 249);
}

.dieta-div {
  width: 1200px;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.dieta-left {
  width: 500px;
  text-align: justify;
  padding: 10px;
}

.dieta-right {
  background-image: url(../images/SEI_148671822.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 500px;
  padding: 10px;
}

.table-div {
  width: 1000px;
  width: 90%;
  margin-top: 10px;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid;
  margin-top: 10px;
}

.product-div {
  width: 100px;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

td {
  text-align: center;
  padding: 2px;
  font-size: 13px;
}
table {
  margin: 0 auto;
  margin-top: 10px;
}

th {
  padding: 10px;
  color: blue;
}

.aminat-div {
  width: 100%;
  background-image: url(https://media.giphy.com/media/xUPGcuomRFMUcsB9nO/giphy.gif);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.prod-div {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  margin: 0 auto;
}

.row-1x {
  width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ch-boxx {
  width: 300px;
  width: 100%;
}

.pro-c {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.row-111 {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.pr-box-11 {
  width: 100px;
  width: 100%;
}

.product {
  width: 100%;
}

.produc-box {
  text-align: center;
  width: 1000px;
  width: 100%;
  line-height: normal;
  padding: 10px;
}

/* hover */

.h3-phenil:hover {
  color: rgb(255, 0, 149);
}

.fa-facebook:hover {
  color: rgba(199, 150, 21, 255);
}

.p1-footer:hover {
  color: rgba(199, 150, 21, 255);
}

tr:hover {
  background-color: rgb(112, 242, 145);
}

.reason,
.right-wraper {
  padding: 20px;
  border: 4px solid transparent;
  border-radius: 20px;
  -webkit-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
  -webkit-animation: border-pulse 2s ease-in-out infinite;
  animation: border-pulse 2s ease-in-out infinite;
}

.box:hover {
  -o-border-image: -o-linear-gradient(
    left,
    #f00,
    #0f0,
    #00f,
    rgba(199, 150, 21, 255)
  );
  border-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f00),
    color-stop(#0f0),
    color-stop(#00f),
    to(rgba(199, 150, 21, 255))
  );
  border-image: linear-gradient(
    to right,
    #f00,
    #0f0,
    #00f,
    rgba(199, 150, 21, 255)
  );
  border-image-slice: 1;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes border-pulse {
  0% {
    border-color: #f00;
  }
  50% {
    border-color: #0f0;
  }
  100% {
    border-color: #00f;
  }
}

@keyframes border-pulse {
  0% {
    border-color: #f00;
  }
  50% {
    border-color: #0f0;
  }
  100% {
    border-color: #00f;
  }
}

h1 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  animation-name: slidein;
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
